In [34]:
import json 
#json é formato diferente(umas listas dentros de outras)
import pandas as pd 
from pandas.io.json import json_normalize

In [35]:
#ter atenção à diferença entre json e cvs
dormidas = pd.read_json("Dormidas nº estadia.json")
dormidas.head()

,IndicadorCod,IndicadorDsg,MetaInfUrl,DataExtracao,DataUltimoAtualizacao,UltimoPref,Dados
0,9183,Dormidas (N.º) nos estabelecimentos de alojame...,https://www.ine.pt/bddXplorer/htdocs/minfo.jsp...,2021-04-25T19:48:24.514+01:00,2020-09-29,2019,"{'2019': [{'geocod': '1191705', 'geodsg': 'Mon..."

In [36]:
#abrir o ficheiro como objeto
#correr/abrir lista
#with open('Dormidas nº estadia.json') as f:
#    d = json.load(f)
dadosDormidas = json_normalize(dormidas['Dados'])
dadosDormidas.head()

<ipython-input-36-bf3b6c42c003>:5: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  dadosDormidas = json_normalize(dormidas['Dados'])

                                                2019
0  [{'geocod': '1191705', 'geodsg': 'Mondim de Ba...

In [37]:
dados2019 = json_normalize(dadosDormidas['2019'][0])
dados2019.head()

<ipython-input-37-ca649ecdb17d>:1: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  dados2019 = json_normalize(dadosDormidas['2019'][0])

,geocod,geodsg,dim_3,dim_3_t,valor,sinal_conv,sinal_conv_desc
0,1191705,Mondim de Basto,BR,Brasil,333,NaN,NaN
1,11A,Área Metropolitana do Porto,BR,Brasil,562249,NaN,NaN
2,11A0104,Arouca,BR,Brasil,261,NaN,NaN
3,11A0107,Espinho,BR,Brasil,3134,NaN,NaN
4,1500811,Portimão,BR,Brasil,25571,NaN,NaN

In [23]:
rslt_dados2019 = dados2019.loc[(dados2019 ['dim_3_t'] == 'Portugal')]
rslt_dados2019.head()

,geocod,geodsg,dim_3,dim_3_t,valor,sinal_conv,sinal_conv_desc
11008,1191705,Mondim de Basto,PT,Portugal,43199,NaN,NaN
11009,11A,Área Metropolitana do Porto,PT,Portugal,1997944,NaN,NaN
11010,11A0104,Arouca,PT,Portugal,27352,NaN,NaN
11011,11A0107,Espinho,PT,Portugal,44340,NaN,NaN
11012,1500811,Portimão,PT,Portugal,710048,NaN,NaN

In [24]:
dados=rslt_dados2019.rename(columns={'geocod':'Codigo','geodsg':'Geografia','dim_3':'Local','dim_3_t': 'Localidade','valor':'Valor'})
dados.head()

,Codigo,Geografia,Local,Localidade,Valor,sinal_conv,sinal_conv_desc
11008,1191705,Mondim de Basto,PT,Portugal,43199,NaN,NaN
11009,11A,Área Metropolitana do Porto,PT,Portugal,1997944,NaN,NaN
11010,11A0104,Arouca,PT,Portugal,27352,NaN,NaN
11011,11A0107,Espinho,PT,Portugal,44340,NaN,NaN
11012,1500811,Portimão,PT,Portugal,710048,NaN,NaN

In [25]:
import pandas as pd
#csv aparece em tabela e "titulos" dá para selecionar/identificar
alojamentos = pd.read_csv("alojamento2019.csv")
alojamentos.head()

,tipo,modalidade,categoria,nome,morada,site,e_mail,telefone,fax,freguesia
0,Empreendimento turístico,Motel,-,Motel Alameda,"EN1, Cavada Nova, 3750-604 Macinhata do Vouga",http://www.alameda-hotel.com/pt-pt,hotelalameda@sapo.pt,234523402.0,234523449.0,Macinhata do Vouga
1,Empreendimento turístico,Residencial,-,Residencial Celeste,"Rua Misericordia de Agueda 713, 3750-130 Agueda",www.residencialceleste.com,residencialceleste@hotmail.com,234602871.0,234602871.0,UF Águeda e Borralha
2,Empreendimento turístico,Residencial,-,Residencial Castro,"Rua da Famel 295, Barrosinhas,ZI EN1 Norte, 37...",www.residencialcastro.pt,geral@residencialcastro.pt,234644356.0,234644993.0,"UF Trofa, Segadães e Lamas"
3,Alojamento local,Moradia,-,Quinta Santa Maria do Monte de Alcobar,"Rua da Escola 120C, 3750-561 Macieira de Alcoba",-,antonio.amaro@ua.pt,NaN,NaN,UF Préstimo e Macieira Alcôba
4,Empreendimento turístico,Hotel,4 estrelas,Hotel Conde de Águeda,"Rua Antonio Ferreira Sucena 7, 3750-121 Águeda",www.hotelcondedagueda.pt,geral@hotelcondedagueda.pt,234610390.0,234610399.0,UF Águeda e Borralha

In [26]:
# loc identifica uma "parte/secção"
rslt_alojamentos = alojamentos.loc[(alojamentos['modalidade'] == 'Motel')]
rslt_alojamentos

,tipo,modalidade,categoria,nome,morada,site,e_mail,telefone,fax,freguesia
0,Empreendimento turístico,Motel,-,Motel Alameda,"EN1, Cavada Nova, 3750-604 Macinhata do Vouga",http://www.alameda-hotel.com/pt-pt,hotelalameda@sapo.pt,234523402.0,234523449.0,Macinhata do Vouga
6,Empreendimento turístico,Motel,-,Motel Primavera,"Rua do Vale do Grou 1243, Vale do Grou, 3750- ...",-,-,234666237.0,234666247.0,Aguada de Cima

In [27]:
import pandas as pd
url='https://ckan.sig.cm-agueda.pt/dataset/0769801f-9d0f-462d-97e1-e6d8a7e8f87c/resource/aa6c85eb-0ad5-4513-8c84-82da88f328ca/download/atendimentopostodeturismoestrangeiros.csv'
df = pd.read_csv(url)
df.head()

,Atendimentos no Posto de Turismo - Estrangeiros,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,por ano (atendimentos),2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,NaN,1315.0,693.0,745.0,1186.0,1807.0,2366.0,3080.0,4450.0,4688.0,6333.0,1264.0
3,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
#url="https://ckan.sig.cm-agueda.pt/dataset/0769801f-9d0f-462d-97e1-e6d8a7e8f87c/resource/a2abb35b-62b1-4b9f-87b4-5a3a67558626/download/atendimentopostodeturismoportugueses.csv"
df = pd.read_csv("Ano atendimento.csv")
df.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Ano atendimento.csv'

In [4]:
import pandas as pd
df= pd.read_csv("Ano atendimento.csv")
df

FileNotFoundError: [Errno 2] No such file or directory: 'Ano atendimento.csv'

In [66]:
df[1:3]

,Atendimentos no Posto de Turismo - Portugueses,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
1,por ano (atendimentos),2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0
2,NaN,3832.0,2601.0,2299.0,3173.0,4560.0,5592.0,5504.0,5170.0,28122.0,26580.0,10015.0

In [47]:
import pandas as pd
atendimentos = [[2010,3832], [2011,2601], [2012,2299], [2013,3173], [2014,4560], [2015,5592], [2016,5504], [2017,5170], [2018,28122], [2019,26580], [2020,10015]]
pd.DataFrame(atendimentos, columns=["Ano", "Nº atendimentos"])

     Ano  Nº atendimentos
0   2010             3832
1   2011             2601
2   2012             2299
3   2013             3173
4   2014             4560
5   2015             5592
6   2016             5504
7   2017             5170
8   2018            28122
9   2019            26580
10  2020            10015

In [48]:
%matplotlib inline

#ano = atendimentos ["Ano"].tolist()
#monthList  = atendimentos ["Nº atendimentos"].tolist()

plt.plot(atendimentos["Ano"], atendimentos["Nº atendimentos"], label = 'Atendimentos por ano')

plt.xlabel('Ano')
plt.ylabel('Nº de Atendimentos')
plt.xticks(atendimentos["Ano"])
plt.title('Atendimentos posto de Turismo')
plt.yticks(atendimentos["Nº atendimentos"])
plt.show()

TypeError: list indices must be integers or slices, not str

In [32]:
import pandas as pd
atendimentos = [["Alojamento","53.16","74.76","57.78"], ["Alimentação","32.52","40.16","33.50"], ["Atracções","7.89","1.18","6.41"], ["Deslocações","5.86","10.83","6.62"], ["Outros","21.73","27.52","23.13"], ["Global","121.17","154.46","127.43"]]
pd.DataFrame(atendimentos, columns=["Tipo","Lazer","Negócios","Total"])

          Tipo   Lazer Negócios   Total
0   Alojamento   53.16    74.76   57.78
1  Alimentação   32.52    40.16   33.50
2    Atracções    7.89     1.18    6.41
3  Deslocações    5.86    10.83    6.62
4       Outros   21.73    27.52   23.13
5       Global  121.17   154.46  127.43

In [41]:
Global_junto = atendimentos.sum(axis=1)

AttributeError: 'list' object has no attribute 'sum'